$logoColor: #F6FFA0;
$orangeColor: #FFA07A;
$softOrangeColor: #FFBD88;
$softOrangeColor2:#ffa076;
$lavenderColor: #E4D6FF;
$softVioletColor: #D7C9F7;
$brightGold:#FFE135;

//color plate

$pairBrowmn: #dd4515;
$pairGrey : #fff9ef;
$pairDarkBlue: #00167a;
$pairBlue: #1800ad;
$pairYellow: #c1ff72;
$githubBlack:#0d1117;