$logoColor: #F6FFA0;
$orangeColor: #FFA07A;
$softOrangeColor: #FFBD88;
$softOrangeColor2:#ffa076;
$lavenderColor: #E4D6FF;
$softVioletColor: #D7C9F7;
$brightGold:#FFE135;

//color plate

$pairBrowmn: #dd4515;
$pairGrey : #fff9ef;
$pairDarkBlue: #00167a;
$pairBlue: #1800ad;
$pairYellow: #c1ff72;
$githubBlack:#0d1117;

//box shadows
$primaryBoxShadow: 0 0 30px rgba(100, 200, 255, 0.4), 0 0 60px rgba(100, 200, 255, 0.2), inset 0 1px 3px rgba(255, 255, 255, 0.15);


$primary-font: "Nunito",  sans-serif;
$borderW: 2px;
$school-color:#1B3C28;
$grey-color: #eff0f3;
$lightGrey-color: #f9f9f9;
$lightGrey-color2:#F5F6FA;
$lightGrey-color3:#d8d5d5;
$dark-grey:#303842;
$grey-color2:rgb(248, 248, 248);
$lightPurple-color:#ECEDFB;
$lightBlue-color:#F0F8FF;
$lightBlue-color2:#F3F7FA;
$lightBlue-color3:#f4f8fc;
$lightBlue-color4:#f4faff;
$lightBlue-color5:#f4faff;
$lightBlue-color6:#f0f5fb;
$blue-color: #17497d;
$blue-color2:#235e83;
$blue-color3:#043d60;
$blue-color4:#040b4b;
$blue-color5:#5f72a1;
$wrapper-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$card-box-shadow:0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
$threed-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15), 0 16px 24px rgba(0, 0, 0, 0.2), 0 24px 32px rgba(0, 0, 0, 0.15);

