@use '../../styles/styles.scss' as styles;

.sidebar-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 12;
    overflow-x: hidden;
    width: 100vw;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: none;
    background: #002749;

    .sidebar-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;

        .sidebar-logo-container {
            display: none;
            max-width: 200px;
            object-fit: contain;

            @media screen and (max-width: 500px) {
                display: block;
            }
        }

        .sidebar-center-container {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .sidebar-link {
                font-size: 1.5rem;
                color: #eefaff;
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover {
                    color: #64c8ff;
                }
            }
        }

        .sidebar-closer-container {
           position: absolute;
           top: 10px;
           right: 10px;
        }
    }
}