.banner-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    padding-bottom: 0;
    align-items: center;
    position: relative;

    .banner-content-container {
        display: flex;

        justify-content: space-between;
        max-width: 1250px;
        padding: 0 40px;
        width: 100%;
        gap: 50px;

        .banner-text-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            transform: translateY(50px);

            .banner-title {
                font-size: 85px;
                font-weight: 700;
                color: #ffffff;
                margin-bottom: 5px;
            }

            .banner-text {
                font-size: 21.5px;
                line-height: 29px;
                font-weight: 700;
                max-width: 550px;
                color: rgba(255, 255, 255, 0.85);
                margin-bottom: 20px;
            }

            .banner-line{
                width: 100%;
                border-top: 3px solid rgba(255, 255, 255, 0.85);
            }
        }

        .banner-background-img-container {


            .banner-background-img {

                object-fit: cover;
                height: 100%;
                max-width: 510px;

            }

            .banner-img-float {
             animation: floatPlane2 ease-in-out infinite 10s; 
            }
        }

    }



}

@keyframes floatPlane2 {

  0%,
  100% {
    transform: rotate(0deg) translateY(0px) translateX(-36px);
  }

  50% {
    transform: rotate(-5deg) translateY(-25px) translateX(0px);
  }
}