
.banner-container {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    align-items: center;

    .banner-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 1250px;
        padding: 0 40px;

        .banner-text-container  {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;

            .banner-title {
                font-size: 36px;
                font-weight: 700;
                color: #ffffff;
            }

            .banner-text {
                font-size: 20px;
                font-weight: 600;
                color: rgba(255,255,255,0.8);
            }
        }

        .banner-background-img-container {
            position: relative;
            width: 100%;
            height: 100%;

            .banner-background-img {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: -10;
                
            }
        }
    }
}