
.banner-container {
    display: flex;
    justify-content: center;
    padding: 150px 0;
    align-items: center;
    position: relative;

    .banner-content-container {
        display: flex;

        justify-content: center;
        text-align: center;
        max-width: 1250px;
        padding: 0 40px;

        .banner-text-container  {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;

            .banner-title {
                font-size: 36px;
                font-weight: 700;
                color: #ffffff;
            }

            .banner-text {
                font-size: 20px;
                font-weight: 600;
                color: rgba(255,255,255,0.8);
                max-width: 600px;
            }
        }

          .banner-background-img-container {
           

            .banner-background-img {
                top: 0;
                bottom: 0;
                z-index: -10;
                object-fit: cover;
                height: 100%;
                width: 100%;

            }
        }
       
    }

   

    }