.banner-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    padding-bottom: 0;
    align-items: center;
    position: relative;

    .banner-content-container {
        display: flex;

        justify-content: center;
        max-width: 1250px;
        padding: 0 40px;
        gap: 50px;

        .banner-text-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            transform: translateY(50px);

            .banner-title {
                font-size: 75px;
                font-weight: 700;
                color: #ffffff;
            }

            .banner-text {
                font-size: 20px;
                font-weight: 600;
                max-width: 500px;
                font-size: 1.2rem;
                color: rgba(255, 255, 255, 0.85);
                line-height: 1.4;
                margin-bottom: 20px;
            }
        }

        .banner-background-img-container {


            .banner-background-img {

                object-fit: cover;
                height: 100%;
                max-width: 500px;

            }
        }

    }



}