@use '../../styles/styles.scss' as styles;

.footer-container {
    width: 100%;
    padding: 100px 0;
    padding-top: 60px;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(120deg, #002341 0%, #00183c 100%);

    background: #000a15;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: linear-gradient(90deg,
                transparent 0%,
                rgba(100, 200, 255, 0.5) 50%,
                transparent 100%);
    }

    background: #000c19;
    border-top: 1px solid rgba(100, 200, 255, 0.15);
    box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.5);

    .footer-content-container {
        max-width: 1400px;
        padding: 0 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;

        .footer-logo-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            .footer-logo-img {
                max-width: 300px;
                height: 110px;
                object-fit: contain;
                border-radius: 12px;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .pair-logo {
                height: 90px;
                transform: translateX(-7px);
            }
        }
    }

    .footer-contact-container {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 7px;
    
        // .footer-contact-p {
        //     transform: translateY(2px);
        // }
    }

      .footer-title {
            font-size: 25px;
            font-weight: 700;
            color: #ffffff;
            margin-bottom: 5px;
            text-shadow: 0 0 3px rgba(255, 249, 239, 0.2), 0 0 16px rgba(255, 249, 239, 0.1);
        }

    .footer-menu-container {
        display: flex;
        flex-direction: column;
        margin-top: 27px;
        gap: 10px;
        text-align: left;

      

         .footer-link {
                text-decoration: none;
                color: #ffffff;
                
                transition: color 0.3s ease;

                &:hover {
                    color: rgba(100, 200, 255, 0.8);
                }
            }

            .footer-p {
                text-decoration: none;
                color: rgba(255,255,255,0.89);
                transition: color 0.3s ease;
                font-size: 20px;

                &:hover {
                    color: rgba(100, 200, 255, 0.8);
                }
            }
    }
}