.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .fade-in.show {
    opacity: 1;
    transform: translateY(0);
  }
  
.fade-in-left {
  opacity: 0;
    transform: translateX(-80%);
    transition: opacity 4s ease-in-out, transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);

}  

.fade-in-left.show {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right {
    opacity: 0;
    transform: translateX(80%);
    transition: opacity 4s ease-in-out, transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .fade-in-right.show {
    opacity: 1;
    transform: translateX(0);
  }


  